*{
list-style: none;
text-decoration: none;
font-family: sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  background-color: whitesmoke;
  min-height: 200vh;
}

/* Nav Bar */

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
}

header .logo{
  position: relative;
  font-weight: 700;
  color: grey;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: 0.6s;
}

header.sticky{
  padding: 5px 100px;
  background: rgb(73, 16, 16);
}

header.sticky ul li a{
  color: black;
}

header.sticky .logo{
  color: black;
}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
position: relative;
list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: grey;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.banner{
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Typ animatie */

.container-copyright p span.typed-text {
  font-weight: normal;
  font-size: 2.5rem;
  color: white;
}
.container-copyright p span.cursor {
  display: inline-block;
  background-color: #ccc;
  font-size: 2.5rem;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container-copyright p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.hero-banner {
  background: url('/assets/img/castle_glitch.jpg');
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}


