body{
    margin: 0;
    padding: 0;
    background: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textHello{
    font-size: 42px;
    color: honeydew;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.buttonTextSwitch{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: floralwhite;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonColorSwitch{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: floralwhite;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonHideSwitch{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: floralwhite;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}