/* STIJLING SEMESTER 2*/

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: whitesmoke;
    width: 100vw;
    background-image: url("../assets/img/clouds_glitch.jpg");
    background-color: #cccccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--clr-neon);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

img {
    pointer-events: none;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(74deg, #29062e 39%, #70094a 54%);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #29062E 14%, #70094a 64%);
}

::-webkit-scrollbar-track {
    background: #000000;
}


/* neon buttons */

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: rgb(0, 0, 0, 0.9);
}

*,
*::before *::after {
    box-sizing: border-box;
}

.buttons {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.neon-button {
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: .25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    transition: background-color 100ms linear;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
    opacity: 0.7;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.1em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    background: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button:hover::before {
    opacity: 1;
}

.neon-button:hover::after {
    opacity: 1;
}


/* Nav Bar */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    height: 65px;
    padding: 0px 100px;
    z-index: 20;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.068);
}

header .logo {
    background-image: url("../assets/img/sm_logo_white.png");
    background-position: center;
    background-size: cover;
    position: relative;
    transition: 0.6s;
    width: 120px;
    height: 100%;
}

header.sticky .logo:hover {
    background-image: url("../assets/img/sm_logo_purple.png");
    width: 120px;
    height: 100%;
}

header .logo:hover {
    background-image: url("../assets/img/sm_logo_purple.png");
    background-position: center;
    background-size: cover;
    position: relative;
    transition: 0.6s;
    width: 120px;
    height: 100%;
}

header.sticky {
    background: whitesmoke;
}

header.sticky ul li a {
    color: rgb(0, 0, 0);
}

header.sticky button {
    color: black;
}

header.sticky .logo {
    background-image: url("../assets/img/sm_logo_black.png");
    width: 120px;
    height: 100%;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header ul li {
    position: relative;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li a:hover {
    color: purple;
}

header .logo:hover {
    color: purple;
}

header button:hover {
    color: purple;
}

header button {
    position: relative;
    margin: 0 15px;
    border: none;
    background-color: transparent;
    transition: 0.6s;
    cursor: pointer;
    color: whitesmoke;
    font-weight: 500px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: 0.6s;
    white-space: nowrap;
}

.dropdown {
    position: relative;
    /* display: inline; */
    height: 100%;
    justify-content: center;
    align-items: center;
}

.dropdownContent {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    border-radius: 0px 0px 6px 6px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.068);
    z-index: 25;
}

.dropdownContent a {
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: 500px;
    padding: 5px 0px;
    transition: 0.6s;
}

.dropdownContent a:hover {
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 6px;
}

.dropdown:hover .dropdownContent {
    display: flex;
    color: purple;
}

.dropdownContent a:hover {
    color: purple;
}


/* footer */

footer {
    position: fixed;
    background: rgb(12, 12, 12);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: whitesmoke;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-content span:hover {
    color: purple;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: whitesmoke;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: purple;
}

.footer-bottom {
    background-color: black;
    width: 100vw;
    padding: 20px 0;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    justify-content: center;
    text-align: center;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: whitesmoke;
}

.footer-bottom span:hover {
    color: purple;
}