/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 30%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    margin-left: 25%;
    font-size: 20px;
    font-family: monospace;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #fd1b00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    font-family: monospace;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #fa5100;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    /*text-align: right;*/
    color:white;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    font-family: monospace;
  }

  body{
    background-image: url('background.png'), linear-gradient(to bottom, #fd1b00 0%, #f68500 100%);
    background-position: left top, right top;
    background-repeat: no-repeat, repeat;
    background-size: 75%,100%;
  }
